* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


a {
  text-decoration: none;
  list-style: none;
  color:white;
  font-family: 'Aleo', serif;
 }

 li{
  list-style: none;
 }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Aleo', serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

body{
	
	display:-webkit-box;
	-webkit-box-pack:center;
    
    display:-moz-box;
    -moz-box-pack:center;
    
    display:-o-box;
    -o-box-pack:center;

    width: 100%;
}

.wrapper{
	display:-webkit-box;
	-webkit-box-pack:center;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;


    display:-moz-box;
    -webkit-box-pack:center;
   -moz-box-orient:vertical;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:1;

   width: 100%;
}

.headerDiv{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;


    display:-moz-box;
   -moz-box-orient:horizontal;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:horizontal;
   -o-box-flex:1;

   width: 100%;
   background: #6B69D6;
}

.textIconSearch{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;


    display:-moz-box;
   -moz-box-orient:horizontal;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:horizontal;
   -o-box-flex:1;
   
   width: 70%;
   color: white;
   /*background: black;*/
   margin-left:4%;
}

.searchPeople{
	display:-webkit-box;
  -webkit-box-flex:1;

  display:-moz-box;
  -moz-box-flex:1;

  display:-o-box;
  -o-box-flex:1;


  margin-right: 15%;
	border-radius: 5px;
	width: 30%;
	font-family: 'Aleo', serif;
	padding: 0.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  background: #3F51B5;
  border: 1px solid #3F51B5;
}

.searchSpace{
  display:-webkit-box;
  -webkit-box-flex:2;

  display:-moz-box;
  -moz-box-flex:2;

  display:-o-box;
  -o-box-flex:2;


   color:#BDBDBD;
  background: #3F51B5;
  border: 1px solid #3F51B5;
  width: 60%;
}

.submitPeople{
  display:-webkit-box;
  -webkit-box-flex:1;

  display:-moz-box;
  -moz-box-flex:1;

  display:-o-box;
  -o-box-flex:1;

  background: #6B69D6;
  color:white;
  border-radius: 5px;
  border: 1px solid #6B69D6
 /* padding:0.34em*/;
 width: 30%;
}

.searchPeople input::placeholder {
  color:#BDBDBD;
  background: #3F51B5;
  border: 1px solid #3F51B5;
  /*font-size: 1.2em;*/
  font-style: italic;
}

.headerText{
	display:-webkit-box;
    -webkit-box-flex:1;

    display:-moz-box;
  -moz-box-flex:1;

  display:-o-box;
  -o-box-flex:1;

    width: 50%;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 1.5em;
    padding: 0.3em;
}

.IconsProfileImage{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;


    display:-moz-box;
   -moz-box-orient:horizontal;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:horizontal;
   -o-box-flex:1;

   width: 30%;
}

.fontImages{
	color: white;
  margin-top: 4%;
}

#epicmailppx{
  width: 12%;
  margin-top: 4%;
  border-radius:100%;
  margin-left: 8%;
}


.menuicon{
  width: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display:none;
  /*margin-top: 5%*/
}

.verticalLine{
  background: white;
}

.bodyDiv{
  display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;


    display:-moz-box;
   -moz-box-orient:horizontal;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:horizontal;
   -o-box-flex:1;

   width: 100%;
}

.sectionDiv{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;


    display:-moz-box;
   -moz-box-orient:vertical;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:1;

   width: 20%;


}

.listedSectionDiv{
  text-align: center;
   /*background: #131418;*/
  background:  #263238;
   height: 3em;
   width: 100%
}

.nowOnline{
  font-family: 'Aleo', serif;
  color: white;
  margin-top: 4%;
  color: #E0E0E0;
}

.mailsSectionDiv{
  display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:4;

    display:-moz-box;
   -moz-box-orient:vertical;
   -moz-box-flex:4;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:4;


    width: 70%;
    background: #E0E0E0;
}

.lorem{
   display:-webkit-box;
    -webkit-box-orient:vertical;
   

  font-family: 'Aleo', serif;
  background:white;
  margin-top: 7%;
  color: black;
  border-radius: 5px;
  width: 100%;
}


.menuListDiv{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:4;

    display:-moz-box;
   -moz-box-orient:vertical;
   -moz-box-flex:4;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:4;


  background: #37474F;
  text-align: center;
  width: 100%;
}

.addNewGroup{
  margin-top: 4%;
  width: 60%;
  padding: 0.7em;
  border-radius: 0.62em;
  background: #6B69D6;
  color: white;
  border: 1px solid #6B69D6;
  font-family: 'Aleo', serif;
}

.iconsAndlists{
  display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;
}

.listMenuTable{
  border-collapse: collapse;
  width: 50%;
  margin-left: 20%;
}

.listMenuTable{ border-collapse: collapse; }

.listMenuTable tr, td { padding: 0px; }

.listMenuTable tr:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.listMenuTable tr {
  height: 70px;
}


.hoverable{
  color:#BDBDBD;
}

.hoverable:hover{
   color: white; 
}

.hoverablee{
  color:#BDBDBD;
}

.hoverablee:hover{
   color: white; 
}


#sectionFloatDiv{
    width: 100%;
    float: left;
    z-index: 100;
    position:absolute;
    /*position: fixed;*/
    /*display: none;*/
}

.messageTable{
  border-collapse: collapse;
  background:#E0E0E0;
  /*margin-right: 1%;*/
  margin-left: 3%;
  width: 90%;
}




.messageTable tr, td { 
  padding: 4px; 
}

.messagesListed{
  border: 1px solid white;
  /*color: black;*/
  color: #424242;
}

.messageRows{
  border-left: 9px solid white;
  border-top: 9px solid white;
  border-bottom: 9px solid white;
  /*background: #E0E0E0;*/
  background: #F5F5F5;
}

.messageImage{
  width: 7%;
  border-radius: 100%
}


.messageTable tr:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

footer{
  background: black;
  color:white;
  text-align: center;
  height: 10em;
}

.footerText{
  margin-top: 5%;
}


/* The Modal (background) */
.modal {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box  for compose message*/
.modal-content {
  /*background-color: #fefefe;*/
  background: linear-gradient(to bottom right, #E0E0E0, #E0E0E0, #E0E0E0);
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#continue{
width:70%;
padding: 0.7em;
font-size: 0.9em;
border-radius: 4px;
background: linear-gradient(to bottom right,#6B69D6,#6B69D6);
color: white;
font-family: 'Aleo', serif;
margin-bottom: 2%;
}

#allmessages{
width:40%;
padding: 0.7em;
background:#1B5E20;
color: white;
font-family: 'Aleo', serif;
}

.successmessage{
  color: white;
}

.formInput{
  width: 70%;
  background: red;
  text-align: center;
  background: #E0E0E0;
  margin-left: 18%;
  margin-bottom: 4%;
}

.getInputsGrp{
  min-width: 70%;
  min-height: 3.4em;
  border-radius:0.4em;
  padding: 3px;
}

.getInputsGrpp{
  min-width: 70%;
  min-height: 6.6em;
  border-radius:0.4em;
}

.formInput input::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

.formInput textarea::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}



/*modal content for send messages*/
.modall {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-contentt {
  /*background-color: #fefefe;*/
  background: linear-gradient(to bottom right, #E0E0E0, #E0E0E0, #E0E0E0);
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#closee {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closee:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#continuee{
width:70%;
padding: 0.7em;
font-size: 0.9em;
border-radius: 4px;
background: linear-gradient(to bottom right,#6B69D6,#6B69D6);
color: white;
font-family: 'Aleo', serif;
margin-bottom: 2%;
}


.formInputt{
  width: 70%;
  background: red;
  text-align: center;
  background: #E0E0E0;
  margin-left: 18%;
  margin-bottom: 4%;
}

.getInputsGrpp{
  min-width: 70%;
  min-height: 3.4em;
  border-radius:0.4em;
  padding: 3px;
}

.getInputsGrppp{
  min-width: 70%;
  min-height: 6.6em;
  border-radius:0.4em;
}

.formInputt input::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

.formInputt textarea::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}















@media screen and (max-width: 870px) {
  .footerText{
     margin-top: 10%;
}

.menuicon{

  display:-moz-box;
  -moz-box-flex:1;

  /*width: 20%;*/
  /*margin-left: 0.5em;*/
  margin-right: 0.5em;
  display:block;
  /*margin-top: 5%*/

}

#sectionDivBiggerScreen{
  display: none
}

.headerText{
  display:-webkit-box;
    -webkit-box-flex:1;

    display:-moz-box;
  -moz-box-flex:1;

  display:-o-box;
  -o-box-flex:1;

    width: 60%;
    color: white;
    font-family: 'Aleo', serif;
    font-size: 1.2em;
    padding: 0.3em;
}



}


@media screen and (max-width: 800px) {
  .footerText{
     margin-top: 20%;
}

.searchPeople{
 display:none;
}

#epicmailppx{
  display: none;
}

}


@media screen and (max-width: 1000px) {


.searchPeople{
 display:none;
}

#epicmailppx{
  display: none;
}

  .footerText{
     margin-top: 12%;
}


}





/*for modal boxes*/

@media screen and (max-width: 670px) {
/* The Modal (background) */
.modal {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe;*/
  background: linear-gradient(to bottom right, #E0E0E0, #E0E0E0, #E0E0E0);
  /*margin: 8% auto;*/ /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  border-radius: 8px;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#continue{
width:90%;
padding: 0.7em;
font-size: 0.9em;
background: linear-gradient(to bottom right,#6B69D6,#6B69D6);
color: white;
font-family: 'Aleo', serif;
/*margin-bottom: 2%;*/
}

#allmessages{
width:40%;
padding: 0.7em;
background:#1B5E20;
color: white;
font-family: 'Aleo', serif;
}

.successmessage{
  color: white;
}

.formInput{
  width: 70%;
  text-align: center;
  /*background: #E0E0E0;*/
  /*margin-left: 18%;
  margin-bottom: 4%;*/
}

.getInputsGrp{
  min-width: 100%;
  min-height: 3.4em;
  border-radius:0.4em;
  padding: 3px;
}

.getInputsGrpp{
  min-width: 100%;
  min-height: 6.6em;
  border-radius:0.4em;
}

.formInput input::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

.formInput textarea::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

}





/*for modal boxes 470px*/

@media screen and (max-width: 470px) {
/* The Modal (background) */
.modal {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe;*/
  background: linear-gradient(to bottom right, #E0E0E0, #E0E0E0, #E0E0E0);
  /*margin: 8% auto;*/ /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  border-radius: 8px;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#continue{
width:90%;
padding: 0.7em;
font-size: 0.8em;
background: linear-gradient(to bottom right,#6B69D6,#6B69D6);
color: white;
font-family: 'Aleo', serif;
/*margin-bottom: 2%;*/
}

#allmessages{
width:40%;
padding: 0.7em;
background:#1B5E20;
color: white;
font-family: 'Aleo', serif;
}

.successmessage{
  color: white;
}

.formInput{
  width: 70%;
  text-align: center;
  /*background: #E0E0E0;*/
  /*margin-left: 18%;
  margin-bottom: 4%;*/
}

.getInputsGrp{
  min-width: 100%;
  min-height: 3.4em;
  border-radius:0.4em;
  padding: 3px;
}

.getInputsGrpp{
  min-width: 100%;
  min-height: 6.6em;
  border-radius:0.4em;
}

.formInput input::placeholder{
  font-size: 1.1em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

.formInput textarea::placeholder{
  font-size: 1.1em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

}



/*for modal boxes compose messages*/

@media screen and (max-width: 670px) {
/* The Modal (background) */
.modall {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-contentt {
  /*background-color: #fefefe;*/
  background: linear-gradient(to bottom right, #E0E0E0, #E0E0E0, #E0E0E0);
  /*margin: 8% auto;*/ /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  border-radius: 8px;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#closee {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closee:hover,
#closee:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#continuee{
width:90%;
padding: 0.7em;
font-size: 0.9em;
background: linear-gradient(to bottom right,#6B69D6,#6B69D6);
color: white;
font-family: 'Aleo', serif;
/*margin-bottom: 2%;*/
}


.formInputt{
  width: 70%;
  text-align: center;
  /*background: #E0E0E0;*/
  /*margin-left: 18%;
  margin-bottom: 4%;*/
}

.getInputsGrpp{
  min-width: 100%;
  min-height: 3.4em;
  border-radius:0.4em;
  padding: 3px;
}

.getInputsGrppp{
  min-width: 100%;
  min-height: 6.6em;
  border-radius:0.4em;
}

.formInputt input::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

.formInputt textarea::placeholder{
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  margin-left: 3px;
  line-height: 1em;
}

}
