
.messageDiv{
     	display:-webkit-box;
		-webkit-box-pack:center;
	    -webkit-box-orient:vertical;
	    -webkit-box-flex:1;


	    display:-moz-box;
	    -webkit-box-pack:center;
	   -moz-box-orient:vertical;
	   -moz-box-flex:1;

	    display:-o-box;
	   -o-box-orient:vertical;
	   -o-box-flex:1;


	background: linear-gradient(to bottom right, #212121, #039BE5, #212121);
	margin-top: 1em;
	margin-bottom:1em;
}



.innermessageDiv{
        display:-webkit-box;
		-webkit-box-pack:center;
	    -webkit-box-orient:vertical;
	    -webkit-box-flex:1;


	    display:-moz-box;
	    -webkit-box-pack:center;
	   -moz-box-orient:vertical;
	   -moz-box-flex:1;

	    display:-o-box;
	   -o-box-orient:vertical;
	   -o-box-flex:1;

		background:white;
		height: 70%;
		margin-top: 4%;
		margin-bottom: 4%;
		margin-left: 11%;
		margin-right: 11%;
		border-radius: 2%;

}

.messageP{
	margin-left:4%;
	margin-right:4%;
	font-family: 'Rokkitt', serif;
	
	font-size: 1.1em;
}

.hidethis{
	display: none;
}