
.rooted{
	display:-webkit-box;
	/*-webkit-box-pack:center;*/
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;


    display:-moz-box;
    -moz-box-pack:center;
   -moz-box-orient:vertical;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:1;
    width: 100%;
}


.imgInfo{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-flex:1;


    display:-moz-box;
    -moz-box-pack:center;
   -moz-box-orient:horizontal;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:horizontal;
   -o-box-flex:1;
   background: black;
   width: 100%;
}


#profilepicture{
	display:-webkit-box;
    -webkit-box-orient:horizontal;
    /*-webkit-box-flex:1;*/


    display:-moz-box;
    -moz-box-pack:center;
   -moz-box-orient:horizontal;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:horizontal;
   -o-box-flex:1;
   background: black;

	width: 30%;
  border-radius: 50%;
}

#userInfo{
  display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;


    display:-moz-box;
    -moz-box-pack:center;
   -moz-box-orient:vertical;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:1;
   background: black;
}

#contactnames{
	display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;


    display:-moz-box;
    -moz-box-pack:center;
   -moz-box-orient:vertical;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:1;
   /*background: #E0E0E0;*/
   background: linear-gradient(to bottom right, #E0E0E0, #F5F5F5);

   margin-left: 1%;
   /*text-align: center;*/
   color: black;
}


#icongraphics{
	display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;
    -webkit-box-pack:center;


    display:-moz-box;
    -moz-box-pack:center;
   -moz-box-orient:vertical;
   -moz-box-flex:1;

    display:-o-box;
   -o-box-orient:vertical;
   -o-box-flex:1;


   background: #1B5E20;
   color: white;
   margin-left: 1%;
   text-align: center;
}


a{
  color:white;
}

.destag{
  color:#1B5E20;
  margin-left: 3%;
}

.taginfo{
  margin-left: 2%;
}
